#!/usr/bin/make -f
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# This version is for packages that are architecure independant.

package = freetable
SHELL = /bin/sh

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	make

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	make clean

	dh_clean

# Build architecture-independent files here.
binary-indep: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs usr/bin usr/share/man/man1 usr/share/man/fr/man1 usr/share/man/pl/man1

	cp -av freetable debian/tmp/usr/bin/
	gzip -v <en.1 >debian/tmp/usr/share/man/man1/freetable.1.gz
	gzip -v <fr.1 >debian/tmp/usr/share/man/fr/man1/freetable.1.gz
	gzip -v <pl.1 >debian/tmp/usr/share/man/pl/man1/freetable.1.gz

	dh_installdocs
	dh_installchangelogs
#	dh_compress
	dh_fixperms
	dh_suidregister
	dh_installdeb
	dh_perl
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build
# We have nothing to do by default.

source diff:
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
